{% extends "base.html" %}

{% block cover %}
            <h1 class="cover-heading">About FicBot</h1>
            <div class="text-display">
            <p>Also runs a <a href="https://twitter.com/generatedficbot">Twitter bot</a> and a <a href="http://ficbot.tumblr.com/">Tumblr bot</a>.</p>
            <p>Background image provided by <a href="https://www.flickr.com/photos/imanearthworm/5934442651/">Sean Douglas</a></p>
            <p> Icon derived from <a href="https://thenounproject.com/term/robot/6865/">this icon</a>.</p>
            <p>The code is available <a href="https://github.com/thedeadparrot/ficbot">on Github</a>.</p>
{% endblock %}
